<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_46052273a1590f4afac140ce7acb370c {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>
        
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.fullscreen/1.4.2/Control.FullScreen.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.fullscreen/1.4.2/Control.FullScreen.min.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.2/leaflet.draw.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.2/leaflet.draw.css"/>
    <script src="https://cdn.jsdelivr.net/gh/ljagis/leaflet-measure@2.1.7/dist/leaflet-measure.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/ljagis/leaflet-measure@2.1.7/dist/leaflet-measure.min.css"/>
    <script src="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.css"/>
    
                    <style>
                        .foliumtooltip {
                            
                        }
                       .foliumtooltip table{
                            margin: auto;
                        }
                        .foliumtooltip tr{
                            text-align: left;
                        }
                        .foliumtooltip th{
                            padding: 2px; padding-right: 8px;
                        }
                    </style>
            
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.1.0/leaflet.markercluster.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.1.0/MarkerCluster.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.1.0/MarkerCluster.Default.css"/>
</head>
<body>
    
    
            <div class="folium-map" id="map_46052273a1590f4afac140ce7acb370c" ></div>
        
</body>
<script>
    
    
            var map_46052273a1590f4afac140ce7acb370c = L.map(
                "map_46052273a1590f4afac140ce7acb370c",
                {
                    center: [1.257167, 103.897],
                    crs: L.CRS.EPSG3857,
                    zoom: 12,
                    zoomControl: true,
                    preferCanvas: false,
                    drawExport: false,
                    layersControl: true,
                }
            );
            L.control.scale().addTo(map_46052273a1590f4afac140ce7acb370c);

            

        
    
            var tile_layer_2ca17d38250214db9c3fa47079b34428 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca target=\"_blank\" href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca target=\"_blank\" href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 24, "maxZoom": 24, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_46052273a1590f4afac140ce7acb370c);
        
    
            L.control.fullscreen(
                {"forceSeparateButton": false, "position": "topleft", "title": "Full Screen", "titleCancel": "Exit Full Screen"}
            ).addTo(map_46052273a1590f4afac140ce7acb370c);
        
    
            var options = {
              position: "topleft",
              draw: {},
              edit: {},
            }
            // FeatureGroup is to store editable layers.
            var drawnItems = new L.featureGroup().addTo(
                map_46052273a1590f4afac140ce7acb370c
            );
            options.edit.featureGroup = drawnItems;
            var draw_control_c677871a902d0c6555705076cb9aef11 = new L.Control.Draw(
                options
            ).addTo( map_46052273a1590f4afac140ce7acb370c );
            map_46052273a1590f4afac140ce7acb370c.on(L.Draw.Event.CREATED, function(e) {
                var layer = e.layer,
                    type = e.layerType;
                var coords = JSON.stringify(layer.toGeoJSON());
                layer.on('click', function() {
                    alert(coords);
                    console.log(coords);
                });
                drawnItems.addLayer(layer);
             });
            map_46052273a1590f4afac140ce7acb370c.on('draw:created', function(e) {
                drawnItems.addLayer(e.layer);
            });
            
        
    
            var measure_control_c45fd5d74f63bfc2a971eb07acb6ab4b = new L.Control.Measure(
                {"position": "bottomleft", "primaryAreaUnit": "sqmeters", "primaryLengthUnit": "meters", "secondaryAreaUnit": "acres", "secondaryLengthUnit": "miles"});
            map_46052273a1590f4afac140ce7acb370c.addControl(measure_control_c45fd5d74f63bfc2a971eb07acb6ab4b);

        
    
            L.Control.geocoder(
                {"collapsed": true, "defaultMarkGeocode": true, "position": "topleft"}
            ).on('markgeocode', function(e) {
                map_46052273a1590f4afac140ce7acb370c.setView(e.geocode.center, 11);
            }).addTo(map_46052273a1590f4afac140ce7acb370c);

        
    
            map_46052273a1590f4afac140ce7acb370c.fitBounds(
                [[1.257167, 103.897], [1.257167, 103.897]],
                {"maxZoom": 12}
            );
        
    
        function geo_json_51692b7916ba6c9f8d424d10bf3c5962_styler(feature) {
            switch(feature.properties.NAME) {
                default:
                    return {"color": "#3388ff", "fillOpacity": 0, "opacity": 1, "weight": 2};
            }
        }
        function geo_json_51692b7916ba6c9f8d424d10bf3c5962_highlighter(feature) {
            switch(feature.properties.NAME) {
                default:
                    return {"fillOpacity": 0, "weight": 4};
            }
        }

        function geo_json_51692b7916ba6c9f8d424d10bf3c5962_onEachFeature(feature, layer) {
            layer.on({
                mouseout: function(e) {
                    if(typeof e.target.setStyle === "function"){
                        geo_json_51692b7916ba6c9f8d424d10bf3c5962.resetStyle(e.target);
                    }
                },
                mouseover: function(e) {
                    if(typeof e.target.setStyle === "function"){
                        const highlightStyle = geo_json_51692b7916ba6c9f8d424d10bf3c5962_highlighter(e.target.feature)
                        e.target.setStyle(highlightStyle);
                    }
                },
            });
        };
        var geo_json_51692b7916ba6c9f8d424d10bf3c5962 = L.geoJson(null, {
                onEachFeature: geo_json_51692b7916ba6c9f8d424d10bf3c5962_onEachFeature,
            
                style: geo_json_51692b7916ba6c9f8d424d10bf3c5962_styler,
        });

        function geo_json_51692b7916ba6c9f8d424d10bf3c5962_add (data) {
            geo_json_51692b7916ba6c9f8d424d10bf3c5962
                .addData(data)
                .addTo(map_46052273a1590f4afac140ce7acb370c);
        }
            geo_json_51692b7916ba6c9f8d424d10bf3c5962_add({"features": [{"geometry": {"coordinates": [[[104.050567, 1.347583], [104.062233, 1.336117], [104.049983, 1.336083], [104.046667, 1.339667], [104.050567, 1.347583]]], "type": "Polygon"}, "properties": {"NAME": "Changi Barge Temporary Holding Anchorage (Abbreviated Code: ACBTH)"}, "type": "Feature"}], "name": "SG Anchorages", "properties": {}, "type": "FeatureCollection"});

        
    
    geo_json_51692b7916ba6c9f8d424d10bf3c5962.bindTooltip(
    function(layer){
    let div = L.DomUtil.create('div');
    
    let handleObject = feature=>typeof(feature)=='object' ? JSON.stringify(feature) : feature;
    let fields = ["NAME"];
    let aliases = ["NAME"];
    let table = '<table>' +
        String(
        fields.map(
        (v,i)=>
        `<tr>
            <th>${aliases[i]}</th>
            
            <td>${handleObject(layer.feature.properties[v])}</td>
        </tr>`).join(''))
    +'</table>';
    div.innerHTML=table;
    
    return div
    }
    ,{"className": "foliumtooltip", "sticky": true});
                     
    
            var marker_cluster_ae22e05f02a14a0aacd582473a22b7d5 = L.markerClusterGroup(
                {"maxClusterRadius": 80, "spin": true}
            );
            map_46052273a1590f4afac140ce7acb370c.addLayer(marker_cluster_ae22e05f02a14a0aacd582473a22b7d5);
        
    
            var marker_27f1066ca229370e981509613774b536 = L.marker(
                [1.347375, 104.050944],
                {}
            ).addTo(marker_cluster_ae22e05f02a14a0aacd582473a22b7d5);
        
    
        var popup_0de2086ff4686d64c4d97efd209c1cf6 = L.popup({"maxWidth": 200, "minWidth": 100});

        
            
                var html_f27851d2336f5e76288ebb46497dd213 = $(`<div id="html_f27851d2336f5e76288ebb46497dd213" style="width: 100.0%; height: 100.0%;"><b>name</b>: ACBTH<br><b>sov_a3</b>: SGP<br><b>latitude</b>: 1.347375<br><b>longitude</b>: 104.050944<br><b>pop_max</b>: 1745000<br><b>region</b>: West<br></div>`)[0];
                popup_0de2086ff4686d64c4d97efd209c1cf6.setContent(html_f27851d2336f5e76288ebb46497dd213);
            
        

        marker_27f1066ca229370e981509613774b536.bindPopup(popup_0de2086ff4686d64c4d97efd209c1cf6)
        ;

        
    
    
            var marker_a055b7484b9e771d14ba2dba583b7a5a = L.marker(
                [1.333278, 104.061233],
                {}
            ).addTo(marker_cluster_ae22e05f02a14a0aacd582473a22b7d5);
        
    
        var popup_a253d54a6bcadfba4236c8a1d9119976 = L.popup({"maxWidth": 200, "minWidth": 100});

        
            
                var html_7d28e3b30808cb4ad7ff6a6b04111cf3 = $(`<div id="html_7d28e3b30808cb4ad7ff6a6b04111cf3" style="width: 100.0%; height: 100.0%;"><b>name</b>: ACGP<br><b>sov_a3</b>: SGP<br><b>latitude</b>: 1.333278<br><b>longitude</b>: 104.061233<br><b>pop_max</b>: 1745000<br><b>region</b>: East<br></div>`)[0];
                popup_a253d54a6bcadfba4236c8a1d9119976.setContent(html_7d28e3b30808cb4ad7ff6a6b04111cf3);
            
        

        marker_a055b7484b9e771d14ba2dba583b7a5a.bindPopup(popup_a253d54a6bcadfba4236c8a1d9119976)
        ;

        
    
    
            var marker_ca55bd60980a240f7e062f971b9c8458 = L.marker(
                [1.314717, 104.069233],
                {}
            ).addTo(marker_cluster_ae22e05f02a14a0aacd582473a22b7d5);
        
    
        var popup_9f45ef9b898cdae5fadfb93089c9563f = L.popup({"maxWidth": 200, "minWidth": 100});

        
            
                var html_2a5db2e062c53c671223f7a88025a671 = $(`<div id="html_2a5db2e062c53c671223f7a88025a671" style="width: 100.0%; height: 100.0%;"><b>name</b>: AMOW<br><b>sov_a3</b>: SGP<br><b>latitude</b>: 1.314717<br><b>longitude</b>: 104.069233<br><b>pop_max</b>: 1745000<br><b>region</b>: South<br></div>`)[0];
                popup_9f45ef9b898cdae5fadfb93089c9563f.setContent(html_2a5db2e062c53c671223f7a88025a671);
            
        

        marker_ca55bd60980a240f7e062f971b9c8458.bindPopup(popup_9f45ef9b898cdae5fadfb93089c9563f)
        ;

        
    
    
            var marker_528b6bc3b5fadd97379ca89e7c94f914 = L.marker(
                [1.305083, 104.0465],
                {}
            ).addTo(marker_cluster_ae22e05f02a14a0aacd582473a22b7d5);
        
    
        var popup_e977e72e3d272387a8c89fa535bd14c1 = L.popup({"maxWidth": 200, "minWidth": 100});

        
            
                var html_937bc8cea724b77166c5fab78a7ab191 = $(`<div id="html_937bc8cea724b77166c5fab78a7ab191" style="width: 100.0%; height: 100.0%;"><b>name</b>: AEBA<br><b>sov_a3</b>: SGP<br><b>latitude</b>: 1.305083<br><b>longitude</b>: 104.0465<br><b>pop_max</b>: 1745000<br><b>region</b>: West<br></div>`)[0];
                popup_e977e72e3d272387a8c89fa535bd14c1.setContent(html_937bc8cea724b77166c5fab78a7ab191);
            
        

        marker_528b6bc3b5fadd97379ca89e7c94f914.bindPopup(popup_e977e72e3d272387a8c89fa535bd14c1)
        ;

        
    
    
            var marker_5fef9cef1401d2983074780a2bcf5aeb = L.marker(
                [1.30495, 103.982967],
                {}
            ).addTo(marker_cluster_ae22e05f02a14a0aacd582473a22b7d5);
        
    
        var popup_ba4c8dd2adfc8365480b1b885842facc = L.popup({"maxWidth": 200, "minWidth": 100});

        
            
                var html_953951eff778829de46d7daebabfae42 = $(`<div id="html_953951eff778829de46d7daebabfae42" style="width: 100.0%; height: 100.0%;"><b>name</b>: ASCB<br><b>sov_a3</b>: SGP<br><b>latitude</b>: 1.30495<br><b>longitude</b>: 103.982967<br><b>pop_max</b>: 1745000<br><b>region</b>: West<br></div>`)[0];
                popup_ba4c8dd2adfc8365480b1b885842facc.setContent(html_953951eff778829de46d7daebabfae42);
            
        

        marker_5fef9cef1401d2983074780a2bcf5aeb.bindPopup(popup_ba4c8dd2adfc8365480b1b885842facc)
        ;

        
    
    
            var marker_4d065852ed97b6bf6f5b574ca8cae761 = L.marker(
                [1.3, 104.006583],
                {}
            ).addTo(marker_cluster_ae22e05f02a14a0aacd582473a22b7d5);
        
    
        var popup_9e6001b685ba186dd2f85ab4c6ddb93d = L.popup({"maxWidth": 200, "minWidth": 100});

        
            
                var html_13d8c6d64b4eb4f52d2178dbb8b59233 = $(`<div id="html_13d8c6d64b4eb4f52d2178dbb8b59233" style="width: 100.0%; height: 100.0%;"><b>name</b>: AEPBC<br><b>sov_a3</b>: SGP<br><b>latitude</b>: 1.3<br><b>longitude</b>: 104.006583<br><b>pop_max</b>: 1745000<br><b>region</b>: West<br></div>`)[0];
                popup_9e6001b685ba186dd2f85ab4c6ddb93d.setContent(html_13d8c6d64b4eb4f52d2178dbb8b59233);
            
        

        marker_4d065852ed97b6bf6f5b574ca8cae761.bindPopup(popup_9e6001b685ba186dd2f85ab4c6ddb93d)
        ;

        
    
    
            var marker_e71b71f73105e2ba07093f54a4b6696f = L.marker(
                [1.29195, 103.982967],
                {}
            ).addTo(marker_cluster_ae22e05f02a14a0aacd582473a22b7d5);
        
    
        var popup_f60a62407ac43efc2d0f2d433838aa7b = L.popup({"maxWidth": 200, "minWidth": 100});

        
            
                var html_253cbc4f8d8f0e762053259a42728d16 = $(`<div id="html_253cbc4f8d8f0e762053259a42728d16" style="width: 100.0%; height: 100.0%;"><b>name</b>: AEBB<br><b>sov_a3</b>: SGP<br><b>latitude</b>: 1.29195<br><b>longitude</b>: 103.982967<br><b>pop_max</b>: 1745000<br><b>region</b>: West<br></div>`)[0];
                popup_f60a62407ac43efc2d0f2d433838aa7b.setContent(html_253cbc4f8d8f0e762053259a42728d16);
            
        

        marker_e71b71f73105e2ba07093f54a4b6696f.bindPopup(popup_f60a62407ac43efc2d0f2d433838aa7b)
        ;

        
    
    
            var marker_983eeba427de104cd773472cf8e5bd9d = L.marker(
                [1.30495, 103.952883],
                {}
            ).addTo(marker_cluster_ae22e05f02a14a0aacd582473a22b7d5);
        
    
        var popup_ebd6addac7ba37362671af3e2c974e21 = L.popup({"maxWidth": 200, "minWidth": 100});

        
            
                var html_02ea80b7094a14d14a3e3a112660ccaa = $(`<div id="html_02ea80b7094a14d14a3e3a112660ccaa" style="width: 100.0%; height: 100.0%;"><b>name</b>: ASCA<br><b>sov_a3</b>: SGP<br><b>latitude</b>: 1.30495<br><b>longitude</b>: 103.952883<br><b>pop_max</b>: 1745000<br><b>region</b>: West<br></div>`)[0];
                popup_ebd6addac7ba37362671af3e2c974e21.setContent(html_02ea80b7094a14d14a3e3a112660ccaa);
            
        

        marker_983eeba427de104cd773472cf8e5bd9d.bindPopup(popup_ebd6addac7ba37362671af3e2c974e21)
        ;

        
    
    
            var marker_d799c597541b1e0b1704037b6cfc368f = L.marker(
                [1.3, 103.94455],
                {}
            ).addTo(marker_cluster_ae22e05f02a14a0aacd582473a22b7d5);
        
    
        var popup_bdfcdb5b6f8667efcd2974b4338c3b10 = L.popup({"maxWidth": 200, "minWidth": 100});

        
            
                var html_b70a338c88bdea1517c7eb4da039bc91 = $(`<div id="html_b70a338c88bdea1517c7eb4da039bc91" style="width: 100.0%; height: 100.0%;"><b>name</b>: AEPBB<br><b>sov_a3</b>: SGP<br><b>latitude</b>: 1.3<br><b>longitude</b>: 103.94455<br><b>pop_max</b>: 1745000<br><b>region</b>: West<br></div>`)[0];
                popup_bdfcdb5b6f8667efcd2974b4338c3b10.setContent(html_b70a338c88bdea1517c7eb4da039bc91);
            
        

        marker_d799c597541b1e0b1704037b6cfc368f.bindPopup(popup_bdfcdb5b6f8667efcd2974b4338c3b10)
        ;

        
    
    
            var marker_a65ee6e378ef0925fb9bf881c3713ab6 = L.marker(
                [1.296667, 103.921583],
                {}
            ).addTo(marker_cluster_ae22e05f02a14a0aacd582473a22b7d5);
        
    
        var popup_12c582c14c2d559f017295721966bc6d = L.popup({"maxWidth": 200, "minWidth": 100});

        
            
                var html_eb0704a836eb1890e89ed4a0d7c50f79 = $(`<div id="html_eb0704a836eb1890e89ed4a0d7c50f79" style="width: 100.0%; height: 100.0%;"><b>name</b>: AESPA<br><b>sov_a3</b>: SGP<br><b>latitude</b>: 1.296667<br><b>longitude</b>: 103.921583<br><b>pop_max</b>: 1745000<br><b>region</b>: West<br></div>`)[0];
                popup_12c582c14c2d559f017295721966bc6d.setContent(html_eb0704a836eb1890e89ed4a0d7c50f79);
            
        

        marker_a65ee6e378ef0925fb9bf881c3713ab6.bindPopup(popup_12c582c14c2d559f017295721966bc6d)
        ;

        
    
    
            var marker_164d6898bafa989355b56c9620914175 = L.marker(
                [1.2775, 103.921833],
                {}
            ).addTo(marker_cluster_ae22e05f02a14a0aacd582473a22b7d5);
        
    
        var popup_142de7762661760c674630a479dfaced = L.popup({"maxWidth": 200, "minWidth": 100});

        
            
                var html_7854bd39c0480900cd41b6092aa08b1b = $(`<div id="html_7854bd39c0480900cd41b6092aa08b1b" style="width: 100.0%; height: 100.0%;"><b>name</b>: AEBC<br><b>sov_a3</b>: SGP<br><b>latitude</b>: 1.2775<br><b>longitude</b>: 103.921833<br><b>pop_max</b>: 1745000<br><b>region</b>: West<br></div>`)[0];
                popup_142de7762661760c674630a479dfaced.setContent(html_7854bd39c0480900cd41b6092aa08b1b);
            
        

        marker_164d6898bafa989355b56c9620914175.bindPopup(popup_142de7762661760c674630a479dfaced)
        ;

        
    
    
            var marker_e99cf8e455ce9bee29162c6ab8f51c2c = L.marker(
                [1.250633, 103.862767],
                {}
            ).addTo(marker_cluster_ae22e05f02a14a0aacd582473a22b7d5);
        
    
        var popup_063a2866a741b40f7ac3539844beead5 = L.popup({"maxWidth": 200, "minWidth": 100});

        
            
                var html_a7e0ca2330d556eff52f21eaa6e0e9fd = $(`<div id="html_a7e0ca2330d556eff52f21eaa6e0e9fd" style="width: 100.0%; height: 100.0%;"><b>name</b>: AEW<br><b>sov_a3</b>: SGP<br><b>latitude</b>: 1.250633<br><b>longitude</b>: 103.862767<br><b>pop_max</b>: 1745000<br><b>region</b>: West<br></div>`)[0];
                popup_063a2866a741b40f7ac3539844beead5.setContent(html_a7e0ca2330d556eff52f21eaa6e0e9fd);
            
        

        marker_e99cf8e455ce9bee29162c6ab8f51c2c.bindPopup(popup_063a2866a741b40f7ac3539844beead5)
        ;

        
    
    
            var marker_abe3e8fa4323d72f263d9d6508595356 = L.marker(
                [1.250633, 103.862767],
                {}
            ).addTo(marker_cluster_ae22e05f02a14a0aacd582473a22b7d5);
        
    
        var popup_d3406d88175a95814b166a1cbfbf2a01 = L.popup({"maxWidth": 200, "minWidth": 100});

        
            
                var html_fcbef5ebe100089c8e104b01537a4567 = $(`<div id="html_fcbef5ebe100089c8e104b01537a4567" style="width: 100.0%; height: 100.0%;"><b>name</b>: AEHC<br><b>sov_a3</b>: SGP<br><b>latitude</b>: 1.250633<br><b>longitude</b>: 103.862767<br><b>pop_max</b>: 1745000<br><b>region</b>: West<br></div>`)[0];
                popup_d3406d88175a95814b166a1cbfbf2a01.setContent(html_fcbef5ebe100089c8e104b01537a4567);
            
        

        marker_abe3e8fa4323d72f263d9d6508595356.bindPopup(popup_d3406d88175a95814b166a1cbfbf2a01)
        ;

        
    
    
            var marker_57e5f32a4d5f002e81c8af1abf6c6dd1 = L.marker(
                [1.257167, 103.897],
                {}
            ).addTo(marker_cluster_ae22e05f02a14a0aacd582473a22b7d5);
        
    
        var popup_d1519a460c4c73d3885fd274a5146c28 = L.popup({"maxWidth": 200, "minWidth": 100});

        
            
                var html_4e88fa1a7aa54860865a97a8adf81971 = $(`<div id="html_4e88fa1a7aa54860865a97a8adf81971" style="width: 100.0%; height: 100.0%;"><b>name</b>: AEPA<br><b>sov_a3</b>: SGP<br><b>latitude</b>: 1.257167<br><b>longitude</b>: 103.897<br><b>pop_max</b>: 1745000<br><b>region</b>: West<br></div>`)[0];
                popup_d1519a460c4c73d3885fd274a5146c28.setContent(html_4e88fa1a7aa54860865a97a8adf81971);
            
        

        marker_57e5f32a4d5f002e81c8af1abf6c6dd1.bindPopup(popup_d1519a460c4c73d3885fd274a5146c28)
        ;

        
    
    
            var marker_f1322f7871bb3a2241c0c633057b2a98 = L.marker(
                [1.241883, 103.929133],
                {}
            ).addTo(marker_cluster_ae22e05f02a14a0aacd582473a22b7d5);
        
    
        var popup_6d69aeedc56d92012898b6d0e1020c9e = L.popup({"maxWidth": 200, "minWidth": 100});

        
            
                var html_75b779c9c61bfb7787fd791497407af2 = $(`<div id="html_75b779c9c61bfb7787fd791497407af2" style="width: 100.0%; height: 100.0%;"><b>name</b>: AEHA<br><b>sov_a3</b>: SGP<br><b>latitude</b>: 1.241883<br><b>longitude</b>: 103.929133<br><b>pop_max</b>: 1745000<br><b>region</b>: West<br></div>`)[0];
                popup_6d69aeedc56d92012898b6d0e1020c9e.setContent(html_75b779c9c61bfb7787fd791497407af2);
            
        

        marker_f1322f7871bb3a2241c0c633057b2a98.bindPopup(popup_6d69aeedc56d92012898b6d0e1020c9e)
        ;

        
    
    
            var marker_f13700bc4364d09acb458ca456db42fa = L.marker(
                [1.244, 103.8785],
                {}
            ).addTo(marker_cluster_ae22e05f02a14a0aacd582473a22b7d5);
        
    
        var popup_d1e81a22b9efc9824abd13cf519a5a29 = L.popup({"maxWidth": 200, "minWidth": 100});

        
            
                var html_7d0a0d91c425620b609287f42f311a79 = $(`<div id="html_7d0a0d91c425620b609287f42f311a79" style="width: 100.0%; height: 100.0%;"><b>name</b>: AEHB<br><b>sov_a3</b>: SGP<br><b>latitude</b>: 1.244<br><b>longitude</b>: 103.8785<br><b>pop_max</b>: 1745000<br><b>region</b>: West<br></div>`)[0];
                popup_d1e81a22b9efc9824abd13cf519a5a29.setContent(html_7d0a0d91c425620b609287f42f311a79);
            
        

        marker_f13700bc4364d09acb458ca456db42fa.bindPopup(popup_d1e81a22b9efc9824abd13cf519a5a29)
        ;

        
    
    
            var marker_a4c1b786fcabff130ce2cf3d2a532795 = L.marker(
                [1.218833, 103.809667],
                {}
            ).addTo(marker_cluster_ae22e05f02a14a0aacd582473a22b7d5);
        
    
        var popup_1041d96deccb10a740007736f82bca2f = L.popup({"maxWidth": 200, "minWidth": 100});

        
            
                var html_5ba97c727b0f5e458d47cb03042b47ee = $(`<div id="html_5ba97c727b0f5e458d47cb03042b47ee" style="width: 100.0%; height: 100.0%;"><b>name</b>: AWQI<br><b>sov_a3</b>: SGP<br><b>latitude</b>: 1.218833<br><b>longitude</b>: 103.809667<br><b>pop_max</b>: 1745000<br><b>region</b>: West<br></div>`)[0];
                popup_1041d96deccb10a740007736f82bca2f.setContent(html_5ba97c727b0f5e458d47cb03042b47ee);
            
        

        marker_a4c1b786fcabff130ce2cf3d2a532795.bindPopup(popup_1041d96deccb10a740007736f82bca2f)
        ;

        
    
    
            var marker_7f0a7574ea5642258a7e455a5da66965 = L.marker(
                [1.250633, 103.796767],
                {}
            ).addTo(marker_cluster_ae22e05f02a14a0aacd582473a22b7d5);
        
    
        var popup_42ccb3c2c86d500559ea89959af6a3f9 = L.popup({"maxWidth": 200, "minWidth": 100});

        
            
                var html_1fd02235b7ab876bd2eb2b529d57fad0 = $(`<div id="html_1fd02235b7ab876bd2eb2b529d57fad0" style="width: 100.0%; height: 100.0%;"><b>name</b>: AWW<br><b>sov_a3</b>: SGP<br><b>latitude</b>: 1.250633<br><b>longitude</b>: 103.796767<br><b>pop_max</b>: 1745000<br><b>region</b>: West<br></div>`)[0];
                popup_42ccb3c2c86d500559ea89959af6a3f9.setContent(html_1fd02235b7ab876bd2eb2b529d57fad0);
            
        

        marker_7f0a7574ea5642258a7e455a5da66965.bindPopup(popup_42ccb3c2c86d500559ea89959af6a3f9)
        ;

        
    
    
            var marker_b3a4bb615e01440bd7c77d5323054415 = L.marker(
                [1.242083, 103.788717],
                {}
            ).addTo(marker_cluster_ae22e05f02a14a0aacd582473a22b7d5);
        
    
        var popup_59062f1b826871150096218b4430349e = L.popup({"maxWidth": 200, "minWidth": 100});

        
            
                var html_89800f5648faad9bafbcddfd886c3ffe = $(`<div id="html_89800f5648faad9bafbcddfd886c3ffe" style="width: 100.0%; height: 100.0%;"><b>name</b>: AWPA<br><b>sov_a3</b>: SGP<br><b>latitude</b>: 1.242083<br><b>longitude</b>: 103.788717<br><b>pop_max</b>: 1745000<br><b>region</b>: West<br></div>`)[0];
                popup_59062f1b826871150096218b4430349e.setContent(html_89800f5648faad9bafbcddfd886c3ffe);
            
        

        marker_b3a4bb615e01440bd7c77d5323054415.bindPopup(popup_59062f1b826871150096218b4430349e)
        ;

        
    
    
            var marker_517213b23ab97218b54e0dab8b9a5a10 = L.marker(
                [1.239433, 103.785333],
                {}
            ).addTo(marker_cluster_ae22e05f02a14a0aacd582473a22b7d5);
        
    
        var popup_9df8282bc3747f27350ed6f5a852353f = L.popup({"maxWidth": 200, "minWidth": 100});

        
            
                var html_9247976ac2f0bcec7851682b8c1b24fa = $(`<div id="html_9247976ac2f0bcec7851682b8c1b24fa" style="width: 100.0%; height: 100.0%;"><b>name</b>: AWH<br><b>sov_a3</b>: SGP<br><b>latitude</b>: 1.239433<br><b>longitude</b>: 103.785333<br><b>pop_max</b>: 1745000<br><b>region</b>: West<br></div>`)[0];
                popup_9df8282bc3747f27350ed6f5a852353f.setContent(html_9247976ac2f0bcec7851682b8c1b24fa);
            
        

        marker_517213b23ab97218b54e0dab8b9a5a10.bindPopup(popup_9df8282bc3747f27350ed6f5a852353f)
        ;

        
    
    
            var marker_296e264a40ff932f6804d25cf5c7b2ca = L.marker(
                [1.230833, 103.785467],
                {}
            ).addTo(marker_cluster_ae22e05f02a14a0aacd582473a22b7d5);
        
    
        var popup_005a5586cc405498ef882e31cc0d9265 = L.popup({"maxWidth": 200, "minWidth": 100});

        
            
                var html_bdaa754a6818746cd5152489d7500a13 = $(`<div id="html_bdaa754a6818746cd5152489d7500a13" style="width: 100.0%; height: 100.0%;"><b>name</b>: AWPB<br><b>sov_a3</b>: SGP<br><b>latitude</b>: 1.230833<br><b>longitude</b>: 103.785467<br><b>pop_max</b>: 1745000<br><b>region</b>: West<br></div>`)[0];
                popup_005a5586cc405498ef882e31cc0d9265.setContent(html_bdaa754a6818746cd5152489d7500a13);
            
        

        marker_296e264a40ff932f6804d25cf5c7b2ca.bindPopup(popup_005a5586cc405498ef882e31cc0d9265)
        ;

        
    
    
            var marker_c3c3b5bcb45428508c208264399f6498 = L.marker(
                [1.227733, 103.713883],
                {}
            ).addTo(marker_cluster_ae22e05f02a14a0aacd582473a22b7d5);
        
    
        var popup_8824bdee1490c2c3b074dda0c8f58a2f = L.popup({"maxWidth": 200, "minWidth": 100});

        
            
                var html_a12d70e2932b879a22660c83945b7215 = $(`<div id="html_a12d70e2932b879a22660c83945b7215" style="width: 100.0%; height: 100.0%;"><b>name</b>: ASPLU<br><b>sov_a3</b>: SGP<br><b>latitude</b>: 1.227733<br><b>longitude</b>: 103.713883<br><b>pop_max</b>: 1745000<br><b>region</b>: West<br></div>`)[0];
                popup_8824bdee1490c2c3b074dda0c8f58a2f.setContent(html_a12d70e2932b879a22660c83945b7215);
            
        

        marker_c3c3b5bcb45428508c208264399f6498.bindPopup(popup_8824bdee1490c2c3b074dda0c8f58a2f)
        ;

        
    
    
            var marker_3e13e976128c5f73a0fac2e455f4fcbd = L.marker(
                [1.225667, 103.70945],
                {}
            ).addTo(marker_cluster_ae22e05f02a14a0aacd582473a22b7d5);
        
    
        var popup_74215b7281df4ea5b39fbc714afeadaf = L.popup({"maxWidth": 200, "minWidth": 100});

        
            
                var html_dc4a1cdbcab3f227607ebf33ebd933f0 = $(`<div id="html_dc4a1cdbcab3f227607ebf33ebd933f0" style="width: 100.0%; height: 100.0%;"><b>name</b>: ASPP<br><b>sov_a3</b>: SGP<br><b>latitude</b>: 1.225667<br><b>longitude</b>: 103.70945<br><b>pop_max</b>: 1745000<br><b>region</b>: West<br></div>`)[0];
                popup_74215b7281df4ea5b39fbc714afeadaf.setContent(html_dc4a1cdbcab3f227607ebf33ebd933f0);
            
        

        marker_3e13e976128c5f73a0fac2e455f4fcbd.bindPopup(popup_74215b7281df4ea5b39fbc714afeadaf)
        ;

        
    
    
            var marker_397ffaf316c6ca43857d1f91b866b0c9 = L.marker(
                [1.201767, 103.7362],
                {}
            ).addTo(marker_cluster_ae22e05f02a14a0aacd582473a22b7d5);
        
    
        var popup_392a19a10450e4f0d682f968b2cbbb12 = L.popup({"maxWidth": 200, "minWidth": 100});

        
            
                var html_c09a7c1f46a57f939e6069200dcd458a = $(`<div id="html_c09a7c1f46a57f939e6069200dcd458a" style="width: 100.0%; height: 100.0%;"><b>name</b>: ARP<br><b>sov_a3</b>: SGP<br><b>latitude</b>: 1.201767<br><b>longitude</b>: 103.7362<br><b>pop_max</b>: 1745000<br><b>region</b>: West<br></div>`)[0];
                popup_392a19a10450e4f0d682f968b2cbbb12.setContent(html_c09a7c1f46a57f939e6069200dcd458a);
            
        

        marker_397ffaf316c6ca43857d1f91b866b0c9.bindPopup(popup_392a19a10450e4f0d682f968b2cbbb12)
        ;

        
    
    
            var marker_dd949764bdd7be3424b7c68bbec63d97 = L.marker(
                [1.189433, 103.752683],
                {}
            ).addTo(marker_cluster_ae22e05f02a14a0aacd582473a22b7d5);
        
    
        var popup_b40c7b34d706ce8c506a9d3548613777 = L.popup({"maxWidth": 200, "minWidth": 100});

        
            
                var html_cabed6f4d52122142bd972826a0e7ba2 = $(`<div id="html_cabed6f4d52122142bd972826a0e7ba2" style="width: 100.0%; height: 100.0%;"><b>name</b>: ARAFR<br><b>sov_a3</b>: SGP<br><b>latitude</b>: 1.189433<br><b>longitude</b>: 103.752683<br><b>pop_max</b>: 1745000<br><b>region</b>: West<br></div>`)[0];
                popup_b40c7b34d706ce8c506a9d3548613777.setContent(html_cabed6f4d52122142bd972826a0e7ba2);
            
        

        marker_dd949764bdd7be3424b7c68bbec63d97.bindPopup(popup_b40c7b34d706ce8c506a9d3548613777)
        ;

        
    
    
            var marker_2e374e929c4794c7eaa336c189f0001d = L.marker(
                [1.16775, 103.71925],
                {}
            ).addTo(marker_cluster_ae22e05f02a14a0aacd582473a22b7d5);
        
    
        var popup_26825314c4f68c7ebb3be2a0f8fc75d5 = L.popup({"maxWidth": 200, "minWidth": 100});

        
            
                var html_0acd997066d20e0e4d4ff212a0203df7 = $(`<div id="html_0acd997066d20e0e4d4ff212a0203df7" style="width: 100.0%; height: 100.0%;"><b>name</b>: ASPH<br><b>sov_a3</b>: SGP<br><b>latitude</b>: 1.16775<br><b>longitude</b>: 103.71925<br><b>pop_max</b>: 1745000<br><b>region</b>: West<br></div>`)[0];
                popup_26825314c4f68c7ebb3be2a0f8fc75d5.setContent(html_0acd997066d20e0e4d4ff212a0203df7);
            
        

        marker_2e374e929c4794c7eaa336c189f0001d.bindPopup(popup_26825314c4f68c7ebb3be2a0f8fc75d5)
        ;

        
    
    
            var marker_f001f473ca97926849677ef7432bc013 = L.marker(
                [1.179667, 103.711667],
                {}
            ).addTo(marker_cluster_ae22e05f02a14a0aacd582473a22b7d5);
        
    
        var popup_7808a908038e0823c4ba6ca33a7ef54c = L.popup({"maxWidth": 200, "minWidth": 100});

        
            
                var html_0affa94ef12a06630bf40de21685da6b = $(`<div id="html_0affa94ef12a06630bf40de21685da6b" style="width: 100.0%; height: 100.0%;"><b>name</b>: ASUEX<br><b>sov_a3</b>: SGP<br><b>latitude</b>: 1.179667<br><b>longitude</b>: 103.711667<br><b>pop_max</b>: 1745000<br><b>region</b>: West<br></div>`)[0];
                popup_7808a908038e0823c4ba6ca33a7ef54c.setContent(html_0affa94ef12a06630bf40de21685da6b);
            
        

        marker_f001f473ca97926849677ef7432bc013.bindPopup(popup_7808a908038e0823c4ba6ca33a7ef54c)
        ;

        
    
    
            var marker_e26446b0f6cd8a8065fa9a453e84dab4 = L.marker(
                [1.1735, 103.682767],
                {}
            ).addTo(marker_cluster_ae22e05f02a14a0aacd582473a22b7d5);
        
    
        var popup_c5f82d6afd452c992636adda06fdab2a = L.popup({"maxWidth": 200, "minWidth": 100});

        
            
                var html_ee817c9d32678f3693f1bea48f4dc5e0 = $(`<div id="html_ee817c9d32678f3693f1bea48f4dc5e0" style="width: 100.0%; height: 100.0%;"><b>name</b>: ASSPU<br><b>sov_a3</b>: SGP<br><b>latitude</b>: 1.1735<br><b>longitude</b>: 103.682767<br><b>pop_max</b>: 1745000<br><b>region</b>: West<br></div>`)[0];
                popup_c5f82d6afd452c992636adda06fdab2a.setContent(html_ee817c9d32678f3693f1bea48f4dc5e0);
            
        

        marker_e26446b0f6cd8a8065fa9a453e84dab4.bindPopup(popup_c5f82d6afd452c992636adda06fdab2a)
        ;

        
    
    
            var marker_b6d932efa1f9d8dbc808ca96ab73dbea = L.marker(
                [1.18525, 103.685333],
                {}
            ).addTo(marker_cluster_ae22e05f02a14a0aacd582473a22b7d5);
        
    
        var popup_79a0cda1ce264b31eaf950b32e22a08b = L.popup({"maxWidth": 200, "minWidth": 100});

        
            
                var html_f41d584773193ac43e3ab67f84d9cb60 = $(`<div id="html_f41d584773193ac43e3ab67f84d9cb60" style="width: 100.0%; height: 100.0%;"><b>name</b>: ASPCA<br><b>sov_a3</b>: SGP<br><b>latitude</b>: 1.18525<br><b>longitude</b>: 103.685333<br><b>pop_max</b>: 1745000<br><b>region</b>: West<br></div>`)[0];
                popup_79a0cda1ce264b31eaf950b32e22a08b.setContent(html_f41d584773193ac43e3ab67f84d9cb60);
            
        

        marker_b6d932efa1f9d8dbc808ca96ab73dbea.bindPopup(popup_79a0cda1ce264b31eaf950b32e22a08b)
        ;

        
    
    
            var marker_c7d701c97b878321f6f66ba0463ee922 = L.marker(
                [1.17115, 103.684833],
                {}
            ).addTo(marker_cluster_ae22e05f02a14a0aacd582473a22b7d5);
        
    
        var popup_cfde216f14852e7419d337a73e78f5f2 = L.popup({"maxWidth": 200, "minWidth": 100});

        
            
                var html_b64d93d61aff37058ff322c51bdc4cd6 = $(`<div id="html_b64d93d61aff37058ff322c51bdc4cd6" style="width: 100.0%; height: 100.0%;"><b>name</b>: ASDPA<br><b>sov_a3</b>: SGP<br><b>latitude</b>: 1.17115<br><b>longitude</b>: 103.684833<br><b>pop_max</b>: 1745000<br><b>region</b>: West<br></div>`)[0];
                popup_cfde216f14852e7419d337a73e78f5f2.setContent(html_b64d93d61aff37058ff322c51bdc4cd6);
            
        

        marker_c7d701c97b878321f6f66ba0463ee922.bindPopup(popup_cfde216f14852e7419d337a73e78f5f2)
        ;

        
    
    
            var marker_3b3102dd1c6d7ef0d821b5d782d2ab23 = L.marker(
                [1.175667, 103.678833],
                {}
            ).addTo(marker_cluster_ae22e05f02a14a0aacd582473a22b7d5);
        
    
        var popup_af09735e95b64f244b07095878c032dc = L.popup({"maxWidth": 200, "minWidth": 100});

        
            
                var html_4f9e4bb0f3e683763d368cc92bad531d = $(`<div id="html_4f9e4bb0f3e683763d368cc92bad531d" style="width: 100.0%; height: 100.0%;"><b>name</b>: ASLP<br><b>sov_a3</b>: SGP<br><b>latitude</b>: 1.175667<br><b>longitude</b>: 103.678833<br><b>pop_max</b>: 1745000<br><b>region</b>: West<br></div>`)[0];
                popup_af09735e95b64f244b07095878c032dc.setContent(html_4f9e4bb0f3e683763d368cc92bad531d);
            
        

        marker_3b3102dd1c6d7ef0d821b5d782d2ab23.bindPopup(popup_af09735e95b64f244b07095878c032dc)
        ;

        
    
    
            var marker_5cf623712b26765684235eff9af0e0db = L.marker(
                [1.221483, 103.641333],
                {}
            ).addTo(marker_cluster_ae22e05f02a14a0aacd582473a22b7d5);
        
    
        var popup_2aedefa9f22d14dc842005e9613916e5 = L.popup({"maxWidth": 200, "minWidth": 100});

        
            
                var html_d4d496f52180fc3638dfa0e7ab352e17 = $(`<div id="html_d4d496f52180fc3638dfa0e7ab352e17" style="width: 100.0%; height: 100.0%;"><b>name</b>: AVLCC<br><b>sov_a3</b>: SGP<br><b>latitude</b>: 1.221483<br><b>longitude</b>: 103.641333<br><b>pop_max</b>: 1745000<br><b>region</b>: West<br></div>`)[0];
                popup_2aedefa9f22d14dc842005e9613916e5.setContent(html_d4d496f52180fc3638dfa0e7ab352e17);
            
        

        marker_5cf623712b26765684235eff9af0e0db.bindPopup(popup_2aedefa9f22d14dc842005e9613916e5)
        ;

        
    
    
            var layer_control_2eeac935db070767d12bc2a96e9a7e9a = {
                base_layers : {
                    "openstreetmap" : tile_layer_2ca17d38250214db9c3fa47079b34428,
                },
                overlays :  {
                    "SG Anchorages" : geo_json_51692b7916ba6c9f8d424d10bf3c5962,
                    "Marker Cluster" : marker_cluster_ae22e05f02a14a0aacd582473a22b7d5,
                },
            };
            L.control.layers(
                layer_control_2eeac935db070767d12bc2a96e9a7e9a.base_layers,
                layer_control_2eeac935db070767d12bc2a96e9a7e9a.overlays,
                {"autoZIndex": true, "collapsed": true, "position": "topright"}
            ).addTo(map_46052273a1590f4afac140ce7acb370c);
        
</script>
</html>