<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_beb5c330139d6ae434a16cba018df1de {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>
        
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.fullscreen/1.4.2/Control.FullScreen.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.fullscreen/1.4.2/Control.FullScreen.min.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.2/leaflet.draw.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.2/leaflet.draw.css"/>
    <script src="https://cdn.jsdelivr.net/gh/ljagis/leaflet-measure@2.1.7/dist/leaflet-measure.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/ljagis/leaflet-measure@2.1.7/dist/leaflet-measure.min.css"/>
    <script src="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.css"/>
    
                    <style>
                        .foliumtooltip {
                            
                        }
                       .foliumtooltip table{
                            margin: auto;
                        }
                        .foliumtooltip tr{
                            text-align: left;
                        }
                        .foliumtooltip th{
                            padding: 2px; padding-right: 8px;
                        }
                    </style>
            
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.1.0/leaflet.markercluster.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.1.0/MarkerCluster.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.1.0/MarkerCluster.Default.css"/>
</head>
<body>
    
    
            <div class="folium-map" id="map_beb5c330139d6ae434a16cba018df1de" ></div>
        
</body>
<script>
    
    
            var map_beb5c330139d6ae434a16cba018df1de = L.map(
                "map_beb5c330139d6ae434a16cba018df1de",
                {
                    center: [1.257167, 103.897],
                    crs: L.CRS.EPSG3857,
                    zoom: 8,
                    zoomControl: true,
                    preferCanvas: false,
                    drawExport: false,
                    layersControl: true,
                }
            );
            L.control.scale().addTo(map_beb5c330139d6ae434a16cba018df1de);

            

        
    
            var tile_layer_2457aa697de04417d5f0c4c9f4f1df27 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca target=\"_blank\" href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca target=\"_blank\" href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 24, "maxZoom": 24, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_beb5c330139d6ae434a16cba018df1de);
        
    
            L.control.fullscreen(
                {"forceSeparateButton": false, "position": "topleft", "title": "Full Screen", "titleCancel": "Exit Full Screen"}
            ).addTo(map_beb5c330139d6ae434a16cba018df1de);
        
    
            var options = {
              position: "topleft",
              draw: {},
              edit: {},
            }
            // FeatureGroup is to store editable layers.
            var drawnItems = new L.featureGroup().addTo(
                map_beb5c330139d6ae434a16cba018df1de
            );
            options.edit.featureGroup = drawnItems;
            var draw_control_f886f22af5a0bd1e9bc1076a1e0da618 = new L.Control.Draw(
                options
            ).addTo( map_beb5c330139d6ae434a16cba018df1de );
            map_beb5c330139d6ae434a16cba018df1de.on(L.Draw.Event.CREATED, function(e) {
                var layer = e.layer,
                    type = e.layerType;
                var coords = JSON.stringify(layer.toGeoJSON());
                layer.on('click', function() {
                    alert(coords);
                    console.log(coords);
                });
                drawnItems.addLayer(layer);
             });
            map_beb5c330139d6ae434a16cba018df1de.on('draw:created', function(e) {
                drawnItems.addLayer(e.layer);
            });
            
        
    
            var measure_control_8f274d9b62c1eb3de8e0a079649957e2 = new L.Control.Measure(
                {"position": "bottomleft", "primaryAreaUnit": "sqmeters", "primaryLengthUnit": "meters", "secondaryAreaUnit": "acres", "secondaryLengthUnit": "miles"});
            map_beb5c330139d6ae434a16cba018df1de.addControl(measure_control_8f274d9b62c1eb3de8e0a079649957e2);

        
    
            L.Control.geocoder(
                {"collapsed": true, "defaultMarkGeocode": true, "position": "topleft"}
            ).on('markgeocode', function(e) {
                map_beb5c330139d6ae434a16cba018df1de.setView(e.geocode.center, 11);
            }).addTo(map_beb5c330139d6ae434a16cba018df1de);

        
    
            map_beb5c330139d6ae434a16cba018df1de.fitBounds(
                [[1.257167, 103.897], [1.257167, 103.897]],
                {"maxZoom": 8}
            );
        
    
        function geo_json_a75b2044c75b725a594651b86ddfc754_styler(feature) {
            switch(feature.properties.NAME) {
                default:
                    return {"color": "#3388ff", "fillOpacity": 0, "opacity": 1, "weight": 2};
            }
        }
        function geo_json_a75b2044c75b725a594651b86ddfc754_highlighter(feature) {
            switch(feature.properties.NAME) {
                default:
                    return {"fillOpacity": 0, "weight": 4};
            }
        }

        function geo_json_a75b2044c75b725a594651b86ddfc754_onEachFeature(feature, layer) {
            layer.on({
                mouseout: function(e) {
                    if(typeof e.target.setStyle === "function"){
                        geo_json_a75b2044c75b725a594651b86ddfc754.resetStyle(e.target);
                    }
                },
                mouseover: function(e) {
                    if(typeof e.target.setStyle === "function"){
                        const highlightStyle = geo_json_a75b2044c75b725a594651b86ddfc754_highlighter(e.target.feature)
                        e.target.setStyle(highlightStyle);
                    }
                },
            });
        };
        var geo_json_a75b2044c75b725a594651b86ddfc754 = L.geoJson(null, {
                onEachFeature: geo_json_a75b2044c75b725a594651b86ddfc754_onEachFeature,
            
                style: geo_json_a75b2044c75b725a594651b86ddfc754_styler,
        });

        function geo_json_a75b2044c75b725a594651b86ddfc754_add (data) {
            geo_json_a75b2044c75b725a594651b86ddfc754
                .addData(data)
                .addTo(map_beb5c330139d6ae434a16cba018df1de);
        }
            geo_json_a75b2044c75b725a594651b86ddfc754_add({"features": [{"geometry": {"coordinates": [[[104.044476, 1.355366], [104.05838, 1.353651], [104.057007, 1.345247], [104.046535, 1.344561], [104.040184, 1.350392], [104.044476, 1.355366]]], "type": "Polygon"}, "properties": {"NAME": "Changi Barge Temporary Holding Anchorage (Abbreviated Code: ACBTH)"}, "type": "Feature"}, {"geometry": {"coordinates": [[[104.05632, 1.339244], [104.053402, 1.331183], [104.06559, 1.329982], [104.065933, 1.337357], [104.05632, 1.339244]]], "type": "Polygon"}, "properties": {"NAME": "Changi General Purposes Anchorage (Abbreviated Code: ACGP)"}, "type": "Feature"}], "name": "SG Anchorages", "properties": {}, "type": "FeatureCollection"});

        
    
    geo_json_a75b2044c75b725a594651b86ddfc754.bindTooltip(
    function(layer){
    let div = L.DomUtil.create('div');
    
    let handleObject = feature=>typeof(feature)=='object' ? JSON.stringify(feature) : feature;
    let fields = ["NAME"];
    let aliases = ["NAME"];
    let table = '<table>' +
        String(
        fields.map(
        (v,i)=>
        `<tr>
            <th>${aliases[i]}</th>
            
            <td>${handleObject(layer.feature.properties[v])}</td>
        </tr>`).join(''))
    +'</table>';
    div.innerHTML=table;
    
    return div
    }
    ,{"className": "foliumtooltip", "sticky": true});
                     
    
            var marker_cluster_163f3de6786e5b5fd13a18c96e9614f8 = L.markerClusterGroup(
                {"maxClusterRadius": 80, "spin": true}
            );
            map_beb5c330139d6ae434a16cba018df1de.addLayer(marker_cluster_163f3de6786e5b5fd13a18c96e9614f8);
        
    
            var marker_a9aff993081c10dddfb29edad096acac = L.marker(
                [1.347375, 104.050944],
                {}
            ).addTo(marker_cluster_163f3de6786e5b5fd13a18c96e9614f8);
        
    
        var popup_1fb4c0bee409e31f1821523907cdb945 = L.popup({"maxWidth": 200, "minWidth": 100});

        
            
                var html_27e47957b4bc8d3265c7b22bd07fb37f = $(`<div id="html_27e47957b4bc8d3265c7b22bd07fb37f" style="width: 100.0%; height: 100.0%;"><b>name</b>: ACBTH<br><b>sov_a3</b>: SGP<br><b>latitude</b>: 1.347375<br><b>longitude</b>: 104.050944<br><b>pop_max</b>: 1745000<br><b>region</b>: West<br></div>`)[0];
                popup_1fb4c0bee409e31f1821523907cdb945.setContent(html_27e47957b4bc8d3265c7b22bd07fb37f);
            
        

        marker_a9aff993081c10dddfb29edad096acac.bindPopup(popup_1fb4c0bee409e31f1821523907cdb945)
        ;

        
    
    
            var marker_97345aba3f5be7d573b4a73d0b120699 = L.marker(
                [1.333278, 104.061233],
                {}
            ).addTo(marker_cluster_163f3de6786e5b5fd13a18c96e9614f8);
        
    
        var popup_b2e53e9720f3677712e9c8d435363975 = L.popup({"maxWidth": 200, "minWidth": 100});

        
            
                var html_ab542e477c228ea8a8956295151394e7 = $(`<div id="html_ab542e477c228ea8a8956295151394e7" style="width: 100.0%; height: 100.0%;"><b>name</b>: ACGP<br><b>sov_a3</b>: SGP<br><b>latitude</b>: 1.333278<br><b>longitude</b>: 104.061233<br><b>pop_max</b>: 1745000<br><b>region</b>: East<br></div>`)[0];
                popup_b2e53e9720f3677712e9c8d435363975.setContent(html_ab542e477c228ea8a8956295151394e7);
            
        

        marker_97345aba3f5be7d573b4a73d0b120699.bindPopup(popup_b2e53e9720f3677712e9c8d435363975)
        ;

        
    
    
            var marker_4bdd5cd22004fec70938f361987fc2cd = L.marker(
                [1.314717, 104.069233],
                {}
            ).addTo(marker_cluster_163f3de6786e5b5fd13a18c96e9614f8);
        
    
        var popup_aeae966587234efaa91bc05a9fd727cd = L.popup({"maxWidth": 200, "minWidth": 100});

        
            
                var html_b632a848079b769dae0cab0c8430aed9 = $(`<div id="html_b632a848079b769dae0cab0c8430aed9" style="width: 100.0%; height: 100.0%;"><b>name</b>: AMOW<br><b>sov_a3</b>: SGP<br><b>latitude</b>: 1.314717<br><b>longitude</b>: 104.069233<br><b>pop_max</b>: 1745000<br><b>region</b>: South<br></div>`)[0];
                popup_aeae966587234efaa91bc05a9fd727cd.setContent(html_b632a848079b769dae0cab0c8430aed9);
            
        

        marker_4bdd5cd22004fec70938f361987fc2cd.bindPopup(popup_aeae966587234efaa91bc05a9fd727cd)
        ;

        
    
    
            var marker_359edcd04c459d860d3efa88e7f4bb73 = L.marker(
                [1.305083, 104.0465],
                {}
            ).addTo(marker_cluster_163f3de6786e5b5fd13a18c96e9614f8);
        
    
        var popup_5d3f5e50865259f68e043e41b2992479 = L.popup({"maxWidth": 200, "minWidth": 100});

        
            
                var html_59f7404e4f7606e9e76e0b4d118b6ac9 = $(`<div id="html_59f7404e4f7606e9e76e0b4d118b6ac9" style="width: 100.0%; height: 100.0%;"><b>name</b>: AEBA<br><b>sov_a3</b>: SGP<br><b>latitude</b>: 1.305083<br><b>longitude</b>: 104.0465<br><b>pop_max</b>: 1745000<br><b>region</b>: West<br></div>`)[0];
                popup_5d3f5e50865259f68e043e41b2992479.setContent(html_59f7404e4f7606e9e76e0b4d118b6ac9);
            
        

        marker_359edcd04c459d860d3efa88e7f4bb73.bindPopup(popup_5d3f5e50865259f68e043e41b2992479)
        ;

        
    
    
            var marker_88b551518328306015b797cc2eef87dc = L.marker(
                [1.30495, 103.982967],
                {}
            ).addTo(marker_cluster_163f3de6786e5b5fd13a18c96e9614f8);
        
    
        var popup_5fd2647ccd325629e98087da402d56ec = L.popup({"maxWidth": 200, "minWidth": 100});

        
            
                var html_6b816ab4b7697f926186118105f0da12 = $(`<div id="html_6b816ab4b7697f926186118105f0da12" style="width: 100.0%; height: 100.0%;"><b>name</b>: ASCB<br><b>sov_a3</b>: SGP<br><b>latitude</b>: 1.30495<br><b>longitude</b>: 103.982967<br><b>pop_max</b>: 1745000<br><b>region</b>: West<br></div>`)[0];
                popup_5fd2647ccd325629e98087da402d56ec.setContent(html_6b816ab4b7697f926186118105f0da12);
            
        

        marker_88b551518328306015b797cc2eef87dc.bindPopup(popup_5fd2647ccd325629e98087da402d56ec)
        ;

        
    
    
            var marker_ac8c8898b6ada7e0369c5f6818f86a02 = L.marker(
                [1.3, 104.006583],
                {}
            ).addTo(marker_cluster_163f3de6786e5b5fd13a18c96e9614f8);
        
    
        var popup_07aded68479661a950e1750eec7f259a = L.popup({"maxWidth": 200, "minWidth": 100});

        
            
                var html_d6e651e9304cc661143faf27f8604191 = $(`<div id="html_d6e651e9304cc661143faf27f8604191" style="width: 100.0%; height: 100.0%;"><b>name</b>: AEPBC<br><b>sov_a3</b>: SGP<br><b>latitude</b>: 1.3<br><b>longitude</b>: 104.006583<br><b>pop_max</b>: 1745000<br><b>region</b>: West<br></div>`)[0];
                popup_07aded68479661a950e1750eec7f259a.setContent(html_d6e651e9304cc661143faf27f8604191);
            
        

        marker_ac8c8898b6ada7e0369c5f6818f86a02.bindPopup(popup_07aded68479661a950e1750eec7f259a)
        ;

        
    
    
            var marker_7cd690d503014c36f5741f35f5cdf73c = L.marker(
                [1.29195, 103.982967],
                {}
            ).addTo(marker_cluster_163f3de6786e5b5fd13a18c96e9614f8);
        
    
        var popup_d53acccb1639bcb121b6219a72ccb8eb = L.popup({"maxWidth": 200, "minWidth": 100});

        
            
                var html_84c9ea7a18debb09214516f3b1e8c427 = $(`<div id="html_84c9ea7a18debb09214516f3b1e8c427" style="width: 100.0%; height: 100.0%;"><b>name</b>: AEBB<br><b>sov_a3</b>: SGP<br><b>latitude</b>: 1.29195<br><b>longitude</b>: 103.982967<br><b>pop_max</b>: 1745000<br><b>region</b>: West<br></div>`)[0];
                popup_d53acccb1639bcb121b6219a72ccb8eb.setContent(html_84c9ea7a18debb09214516f3b1e8c427);
            
        

        marker_7cd690d503014c36f5741f35f5cdf73c.bindPopup(popup_d53acccb1639bcb121b6219a72ccb8eb)
        ;

        
    
    
            var marker_95a43228244c55fa42de913f9c46cf70 = L.marker(
                [1.30495, 103.952883],
                {}
            ).addTo(marker_cluster_163f3de6786e5b5fd13a18c96e9614f8);
        
    
        var popup_a447ca71cd2adda290cc9c2f2e97cf24 = L.popup({"maxWidth": 200, "minWidth": 100});

        
            
                var html_0409c83961bd6c5da4e2747356ea1ae9 = $(`<div id="html_0409c83961bd6c5da4e2747356ea1ae9" style="width: 100.0%; height: 100.0%;"><b>name</b>: ASCA<br><b>sov_a3</b>: SGP<br><b>latitude</b>: 1.30495<br><b>longitude</b>: 103.952883<br><b>pop_max</b>: 1745000<br><b>region</b>: West<br></div>`)[0];
                popup_a447ca71cd2adda290cc9c2f2e97cf24.setContent(html_0409c83961bd6c5da4e2747356ea1ae9);
            
        

        marker_95a43228244c55fa42de913f9c46cf70.bindPopup(popup_a447ca71cd2adda290cc9c2f2e97cf24)
        ;

        
    
    
            var marker_5ba8064326b380419f3c62be7336ec77 = L.marker(
                [1.3, 103.94455],
                {}
            ).addTo(marker_cluster_163f3de6786e5b5fd13a18c96e9614f8);
        
    
        var popup_ff088011595822d7b0ec755516e50653 = L.popup({"maxWidth": 200, "minWidth": 100});

        
            
                var html_a3b53b5950ef06d253fee3b7ef539e28 = $(`<div id="html_a3b53b5950ef06d253fee3b7ef539e28" style="width: 100.0%; height: 100.0%;"><b>name</b>: AEPBB<br><b>sov_a3</b>: SGP<br><b>latitude</b>: 1.3<br><b>longitude</b>: 103.94455<br><b>pop_max</b>: 1745000<br><b>region</b>: West<br></div>`)[0];
                popup_ff088011595822d7b0ec755516e50653.setContent(html_a3b53b5950ef06d253fee3b7ef539e28);
            
        

        marker_5ba8064326b380419f3c62be7336ec77.bindPopup(popup_ff088011595822d7b0ec755516e50653)
        ;

        
    
    
            var marker_ef515086fda40c43583543c627a38e24 = L.marker(
                [1.296667, 103.921583],
                {}
            ).addTo(marker_cluster_163f3de6786e5b5fd13a18c96e9614f8);
        
    
        var popup_5db1f59a2649ee5c3f4755d42e54d008 = L.popup({"maxWidth": 200, "minWidth": 100});

        
            
                var html_3252ffc72c06a3f7f4a441f648df4cfc = $(`<div id="html_3252ffc72c06a3f7f4a441f648df4cfc" style="width: 100.0%; height: 100.0%;"><b>name</b>: AESPA<br><b>sov_a3</b>: SGP<br><b>latitude</b>: 1.296667<br><b>longitude</b>: 103.921583<br><b>pop_max</b>: 1745000<br><b>region</b>: West<br></div>`)[0];
                popup_5db1f59a2649ee5c3f4755d42e54d008.setContent(html_3252ffc72c06a3f7f4a441f648df4cfc);
            
        

        marker_ef515086fda40c43583543c627a38e24.bindPopup(popup_5db1f59a2649ee5c3f4755d42e54d008)
        ;

        
    
    
            var marker_093b6b0b2ddf7b1b7b98a89fa246267a = L.marker(
                [1.2775, 103.921833],
                {}
            ).addTo(marker_cluster_163f3de6786e5b5fd13a18c96e9614f8);
        
    
        var popup_264a8eb11f2af39408ab8ccd02cd3efd = L.popup({"maxWidth": 200, "minWidth": 100});

        
            
                var html_8664b1ddba0ade40e63cbd550b8abb6a = $(`<div id="html_8664b1ddba0ade40e63cbd550b8abb6a" style="width: 100.0%; height: 100.0%;"><b>name</b>: AEBC<br><b>sov_a3</b>: SGP<br><b>latitude</b>: 1.2775<br><b>longitude</b>: 103.921833<br><b>pop_max</b>: 1745000<br><b>region</b>: West<br></div>`)[0];
                popup_264a8eb11f2af39408ab8ccd02cd3efd.setContent(html_8664b1ddba0ade40e63cbd550b8abb6a);
            
        

        marker_093b6b0b2ddf7b1b7b98a89fa246267a.bindPopup(popup_264a8eb11f2af39408ab8ccd02cd3efd)
        ;

        
    
    
            var marker_efc2b310df7fbb3773749e30ac77d7c2 = L.marker(
                [1.250633, 103.862767],
                {}
            ).addTo(marker_cluster_163f3de6786e5b5fd13a18c96e9614f8);
        
    
        var popup_3dda70158898dd093e1856e7e822774b = L.popup({"maxWidth": 200, "minWidth": 100});

        
            
                var html_22d2f88e2599e9f0a5c0af6c8ffb8ae5 = $(`<div id="html_22d2f88e2599e9f0a5c0af6c8ffb8ae5" style="width: 100.0%; height: 100.0%;"><b>name</b>: AEW<br><b>sov_a3</b>: SGP<br><b>latitude</b>: 1.250633<br><b>longitude</b>: 103.862767<br><b>pop_max</b>: 1745000<br><b>region</b>: West<br></div>`)[0];
                popup_3dda70158898dd093e1856e7e822774b.setContent(html_22d2f88e2599e9f0a5c0af6c8ffb8ae5);
            
        

        marker_efc2b310df7fbb3773749e30ac77d7c2.bindPopup(popup_3dda70158898dd093e1856e7e822774b)
        ;

        
    
    
            var marker_8f1338fda36db54410427618eed006f7 = L.marker(
                [1.250633, 103.862767],
                {}
            ).addTo(marker_cluster_163f3de6786e5b5fd13a18c96e9614f8);
        
    
        var popup_af90a7a85f64c677d5a092651d2a4430 = L.popup({"maxWidth": 200, "minWidth": 100});

        
            
                var html_226f9c7ec27b44a1e14e8394e30d0a00 = $(`<div id="html_226f9c7ec27b44a1e14e8394e30d0a00" style="width: 100.0%; height: 100.0%;"><b>name</b>: AEHC<br><b>sov_a3</b>: SGP<br><b>latitude</b>: 1.250633<br><b>longitude</b>: 103.862767<br><b>pop_max</b>: 1745000<br><b>region</b>: West<br></div>`)[0];
                popup_af90a7a85f64c677d5a092651d2a4430.setContent(html_226f9c7ec27b44a1e14e8394e30d0a00);
            
        

        marker_8f1338fda36db54410427618eed006f7.bindPopup(popup_af90a7a85f64c677d5a092651d2a4430)
        ;

        
    
    
            var marker_92aa7b8ff5434b639c0f079ee668720c = L.marker(
                [1.257167, 103.897],
                {}
            ).addTo(marker_cluster_163f3de6786e5b5fd13a18c96e9614f8);
        
    
        var popup_76242377b5a1c1660f5e33cbffa9189c = L.popup({"maxWidth": 200, "minWidth": 100});

        
            
                var html_ee625469b920b8844b977550edc4f5d7 = $(`<div id="html_ee625469b920b8844b977550edc4f5d7" style="width: 100.0%; height: 100.0%;"><b>name</b>: AEPA<br><b>sov_a3</b>: SGP<br><b>latitude</b>: 1.257167<br><b>longitude</b>: 103.897<br><b>pop_max</b>: 1745000<br><b>region</b>: West<br></div>`)[0];
                popup_76242377b5a1c1660f5e33cbffa9189c.setContent(html_ee625469b920b8844b977550edc4f5d7);
            
        

        marker_92aa7b8ff5434b639c0f079ee668720c.bindPopup(popup_76242377b5a1c1660f5e33cbffa9189c)
        ;

        
    
    
            var marker_f9af8cf8902d8727c5d0760e92063476 = L.marker(
                [1.241883, 103.929133],
                {}
            ).addTo(marker_cluster_163f3de6786e5b5fd13a18c96e9614f8);
        
    
        var popup_c8f22ab86178b4231f9ce0c59c130b25 = L.popup({"maxWidth": 200, "minWidth": 100});

        
            
                var html_fd0812b68251436630412a342ba5bb64 = $(`<div id="html_fd0812b68251436630412a342ba5bb64" style="width: 100.0%; height: 100.0%;"><b>name</b>: AEHA<br><b>sov_a3</b>: SGP<br><b>latitude</b>: 1.241883<br><b>longitude</b>: 103.929133<br><b>pop_max</b>: 1745000<br><b>region</b>: West<br></div>`)[0];
                popup_c8f22ab86178b4231f9ce0c59c130b25.setContent(html_fd0812b68251436630412a342ba5bb64);
            
        

        marker_f9af8cf8902d8727c5d0760e92063476.bindPopup(popup_c8f22ab86178b4231f9ce0c59c130b25)
        ;

        
    
    
            var marker_676edaa73d355adae32764cb81f887d1 = L.marker(
                [1.244, 103.8785],
                {}
            ).addTo(marker_cluster_163f3de6786e5b5fd13a18c96e9614f8);
        
    
        var popup_0a05407afb4f297ffe2473e1b5085616 = L.popup({"maxWidth": 200, "minWidth": 100});

        
            
                var html_5cc1fa64f776eb9119f979ac2e8745be = $(`<div id="html_5cc1fa64f776eb9119f979ac2e8745be" style="width: 100.0%; height: 100.0%;"><b>name</b>: AEHB<br><b>sov_a3</b>: SGP<br><b>latitude</b>: 1.244<br><b>longitude</b>: 103.8785<br><b>pop_max</b>: 1745000<br><b>region</b>: West<br></div>`)[0];
                popup_0a05407afb4f297ffe2473e1b5085616.setContent(html_5cc1fa64f776eb9119f979ac2e8745be);
            
        

        marker_676edaa73d355adae32764cb81f887d1.bindPopup(popup_0a05407afb4f297ffe2473e1b5085616)
        ;

        
    
    
            var marker_07c4130ef59ef947c9341561b9a06717 = L.marker(
                [1.218833, 103.809667],
                {}
            ).addTo(marker_cluster_163f3de6786e5b5fd13a18c96e9614f8);
        
    
        var popup_06d589d5fcb1544fb9ff2cc7fbe7334a = L.popup({"maxWidth": 200, "minWidth": 100});

        
            
                var html_4be245bff39eb26b91fe40e7a21f7a31 = $(`<div id="html_4be245bff39eb26b91fe40e7a21f7a31" style="width: 100.0%; height: 100.0%;"><b>name</b>: AWQI<br><b>sov_a3</b>: SGP<br><b>latitude</b>: 1.218833<br><b>longitude</b>: 103.809667<br><b>pop_max</b>: 1745000<br><b>region</b>: West<br></div>`)[0];
                popup_06d589d5fcb1544fb9ff2cc7fbe7334a.setContent(html_4be245bff39eb26b91fe40e7a21f7a31);
            
        

        marker_07c4130ef59ef947c9341561b9a06717.bindPopup(popup_06d589d5fcb1544fb9ff2cc7fbe7334a)
        ;

        
    
    
            var marker_9112627ce7b0206d300d112cf712392a = L.marker(
                [1.250633, 103.796767],
                {}
            ).addTo(marker_cluster_163f3de6786e5b5fd13a18c96e9614f8);
        
    
        var popup_bc47335dca274c82c6c2aa07768fa802 = L.popup({"maxWidth": 200, "minWidth": 100});

        
            
                var html_512f26fb91ed13c6d9e6d8198b0a7a1f = $(`<div id="html_512f26fb91ed13c6d9e6d8198b0a7a1f" style="width: 100.0%; height: 100.0%;"><b>name</b>: AWW<br><b>sov_a3</b>: SGP<br><b>latitude</b>: 1.250633<br><b>longitude</b>: 103.796767<br><b>pop_max</b>: 1745000<br><b>region</b>: West<br></div>`)[0];
                popup_bc47335dca274c82c6c2aa07768fa802.setContent(html_512f26fb91ed13c6d9e6d8198b0a7a1f);
            
        

        marker_9112627ce7b0206d300d112cf712392a.bindPopup(popup_bc47335dca274c82c6c2aa07768fa802)
        ;

        
    
    
            var marker_654310cf964ad613dfa24baf81d6d0d8 = L.marker(
                [1.242083, 103.788717],
                {}
            ).addTo(marker_cluster_163f3de6786e5b5fd13a18c96e9614f8);
        
    
        var popup_8102acd3cda16bd738fd3057d3f33f4a = L.popup({"maxWidth": 200, "minWidth": 100});

        
            
                var html_646c157ef7e7a246a1e0dcc7019510f6 = $(`<div id="html_646c157ef7e7a246a1e0dcc7019510f6" style="width: 100.0%; height: 100.0%;"><b>name</b>: AWPA<br><b>sov_a3</b>: SGP<br><b>latitude</b>: 1.242083<br><b>longitude</b>: 103.788717<br><b>pop_max</b>: 1745000<br><b>region</b>: West<br></div>`)[0];
                popup_8102acd3cda16bd738fd3057d3f33f4a.setContent(html_646c157ef7e7a246a1e0dcc7019510f6);
            
        

        marker_654310cf964ad613dfa24baf81d6d0d8.bindPopup(popup_8102acd3cda16bd738fd3057d3f33f4a)
        ;

        
    
    
            var marker_381521355dcd3be648cecdc12966c297 = L.marker(
                [1.239433, 103.785333],
                {}
            ).addTo(marker_cluster_163f3de6786e5b5fd13a18c96e9614f8);
        
    
        var popup_022ba7419103734a98da79472efc9165 = L.popup({"maxWidth": 200, "minWidth": 100});

        
            
                var html_18123684d417884c0f8cf53b47607fdd = $(`<div id="html_18123684d417884c0f8cf53b47607fdd" style="width: 100.0%; height: 100.0%;"><b>name</b>: AWH<br><b>sov_a3</b>: SGP<br><b>latitude</b>: 1.239433<br><b>longitude</b>: 103.785333<br><b>pop_max</b>: 1745000<br><b>region</b>: West<br></div>`)[0];
                popup_022ba7419103734a98da79472efc9165.setContent(html_18123684d417884c0f8cf53b47607fdd);
            
        

        marker_381521355dcd3be648cecdc12966c297.bindPopup(popup_022ba7419103734a98da79472efc9165)
        ;

        
    
    
            var marker_7dcc12e1c901f6801ac290e3c405b2e5 = L.marker(
                [1.230833, 103.785467],
                {}
            ).addTo(marker_cluster_163f3de6786e5b5fd13a18c96e9614f8);
        
    
        var popup_2895386f724db2a9faaa4e47ea94f1a3 = L.popup({"maxWidth": 200, "minWidth": 100});

        
            
                var html_4c9ebde3b042a34b13c8b7155c2a415a = $(`<div id="html_4c9ebde3b042a34b13c8b7155c2a415a" style="width: 100.0%; height: 100.0%;"><b>name</b>: AWPB<br><b>sov_a3</b>: SGP<br><b>latitude</b>: 1.230833<br><b>longitude</b>: 103.785467<br><b>pop_max</b>: 1745000<br><b>region</b>: West<br></div>`)[0];
                popup_2895386f724db2a9faaa4e47ea94f1a3.setContent(html_4c9ebde3b042a34b13c8b7155c2a415a);
            
        

        marker_7dcc12e1c901f6801ac290e3c405b2e5.bindPopup(popup_2895386f724db2a9faaa4e47ea94f1a3)
        ;

        
    
    
            var marker_20d910fbe30bf9a69b7182ffe2d82685 = L.marker(
                [1.227733, 103.713883],
                {}
            ).addTo(marker_cluster_163f3de6786e5b5fd13a18c96e9614f8);
        
    
        var popup_762b53367672de71b0728b018c2084cb = L.popup({"maxWidth": 200, "minWidth": 100});

        
            
                var html_ce39dd40bc782a82ce289aa884269be4 = $(`<div id="html_ce39dd40bc782a82ce289aa884269be4" style="width: 100.0%; height: 100.0%;"><b>name</b>: ASPLU<br><b>sov_a3</b>: SGP<br><b>latitude</b>: 1.227733<br><b>longitude</b>: 103.713883<br><b>pop_max</b>: 1745000<br><b>region</b>: West<br></div>`)[0];
                popup_762b53367672de71b0728b018c2084cb.setContent(html_ce39dd40bc782a82ce289aa884269be4);
            
        

        marker_20d910fbe30bf9a69b7182ffe2d82685.bindPopup(popup_762b53367672de71b0728b018c2084cb)
        ;

        
    
    
            var marker_f28a38ab6086ae6cacb796349c80fe4a = L.marker(
                [1.225667, 103.70945],
                {}
            ).addTo(marker_cluster_163f3de6786e5b5fd13a18c96e9614f8);
        
    
        var popup_6ca333de64e51450804abd217cfc1731 = L.popup({"maxWidth": 200, "minWidth": 100});

        
            
                var html_384368da18b0fb3fb126ce9d38d0f39c = $(`<div id="html_384368da18b0fb3fb126ce9d38d0f39c" style="width: 100.0%; height: 100.0%;"><b>name</b>: ASPP<br><b>sov_a3</b>: SGP<br><b>latitude</b>: 1.225667<br><b>longitude</b>: 103.70945<br><b>pop_max</b>: 1745000<br><b>region</b>: West<br></div>`)[0];
                popup_6ca333de64e51450804abd217cfc1731.setContent(html_384368da18b0fb3fb126ce9d38d0f39c);
            
        

        marker_f28a38ab6086ae6cacb796349c80fe4a.bindPopup(popup_6ca333de64e51450804abd217cfc1731)
        ;

        
    
    
            var marker_6c594b941c0a61f55fa415f4a022ef25 = L.marker(
                [1.201767, 103.7362],
                {}
            ).addTo(marker_cluster_163f3de6786e5b5fd13a18c96e9614f8);
        
    
        var popup_984da860ba1f5c05ea799f260a0da692 = L.popup({"maxWidth": 200, "minWidth": 100});

        
            
                var html_37f8b8a3091df921225c8a201329684d = $(`<div id="html_37f8b8a3091df921225c8a201329684d" style="width: 100.0%; height: 100.0%;"><b>name</b>: ARP<br><b>sov_a3</b>: SGP<br><b>latitude</b>: 1.201767<br><b>longitude</b>: 103.7362<br><b>pop_max</b>: 1745000<br><b>region</b>: West<br></div>`)[0];
                popup_984da860ba1f5c05ea799f260a0da692.setContent(html_37f8b8a3091df921225c8a201329684d);
            
        

        marker_6c594b941c0a61f55fa415f4a022ef25.bindPopup(popup_984da860ba1f5c05ea799f260a0da692)
        ;

        
    
    
            var marker_7376da74ab8a7e7f9e60acb7b0abd426 = L.marker(
                [1.189433, 103.752683],
                {}
            ).addTo(marker_cluster_163f3de6786e5b5fd13a18c96e9614f8);
        
    
        var popup_d09b0fa85375d12da16ce5341288557f = L.popup({"maxWidth": 200, "minWidth": 100});

        
            
                var html_61c845f33bb4e5ad2102670156885c77 = $(`<div id="html_61c845f33bb4e5ad2102670156885c77" style="width: 100.0%; height: 100.0%;"><b>name</b>: ARAFR<br><b>sov_a3</b>: SGP<br><b>latitude</b>: 1.189433<br><b>longitude</b>: 103.752683<br><b>pop_max</b>: 1745000<br><b>region</b>: West<br></div>`)[0];
                popup_d09b0fa85375d12da16ce5341288557f.setContent(html_61c845f33bb4e5ad2102670156885c77);
            
        

        marker_7376da74ab8a7e7f9e60acb7b0abd426.bindPopup(popup_d09b0fa85375d12da16ce5341288557f)
        ;

        
    
    
            var marker_03b521a9893e4c1485baba640459511a = L.marker(
                [1.16775, 103.71925],
                {}
            ).addTo(marker_cluster_163f3de6786e5b5fd13a18c96e9614f8);
        
    
        var popup_d1c3a89b6865b9f4f1f8e7a5535a5311 = L.popup({"maxWidth": 200, "minWidth": 100});

        
            
                var html_3162d0bd3217f47a28d330ff4669ce1c = $(`<div id="html_3162d0bd3217f47a28d330ff4669ce1c" style="width: 100.0%; height: 100.0%;"><b>name</b>: ASPH<br><b>sov_a3</b>: SGP<br><b>latitude</b>: 1.16775<br><b>longitude</b>: 103.71925<br><b>pop_max</b>: 1745000<br><b>region</b>: West<br></div>`)[0];
                popup_d1c3a89b6865b9f4f1f8e7a5535a5311.setContent(html_3162d0bd3217f47a28d330ff4669ce1c);
            
        

        marker_03b521a9893e4c1485baba640459511a.bindPopup(popup_d1c3a89b6865b9f4f1f8e7a5535a5311)
        ;

        
    
    
            var marker_99d4a8fc10de586661bc53f0248ce8ce = L.marker(
                [1.179667, 103.711667],
                {}
            ).addTo(marker_cluster_163f3de6786e5b5fd13a18c96e9614f8);
        
    
        var popup_e2d8422083eba4a7be7624ad3fd69b04 = L.popup({"maxWidth": 200, "minWidth": 100});

        
            
                var html_8aad86aab76a9c71ff5bc821379a897f = $(`<div id="html_8aad86aab76a9c71ff5bc821379a897f" style="width: 100.0%; height: 100.0%;"><b>name</b>: ASUEX<br><b>sov_a3</b>: SGP<br><b>latitude</b>: 1.179667<br><b>longitude</b>: 103.711667<br><b>pop_max</b>: 1745000<br><b>region</b>: West<br></div>`)[0];
                popup_e2d8422083eba4a7be7624ad3fd69b04.setContent(html_8aad86aab76a9c71ff5bc821379a897f);
            
        

        marker_99d4a8fc10de586661bc53f0248ce8ce.bindPopup(popup_e2d8422083eba4a7be7624ad3fd69b04)
        ;

        
    
    
            var marker_fc34e8897dcbcaa31962fde149105a94 = L.marker(
                [1.1735, 103.682767],
                {}
            ).addTo(marker_cluster_163f3de6786e5b5fd13a18c96e9614f8);
        
    
        var popup_28f06c576d97247822469b5010cc93b8 = L.popup({"maxWidth": 200, "minWidth": 100});

        
            
                var html_0f53463da668fe1dad31d7b61ae9472b = $(`<div id="html_0f53463da668fe1dad31d7b61ae9472b" style="width: 100.0%; height: 100.0%;"><b>name</b>: ASSPU<br><b>sov_a3</b>: SGP<br><b>latitude</b>: 1.1735<br><b>longitude</b>: 103.682767<br><b>pop_max</b>: 1745000<br><b>region</b>: West<br></div>`)[0];
                popup_28f06c576d97247822469b5010cc93b8.setContent(html_0f53463da668fe1dad31d7b61ae9472b);
            
        

        marker_fc34e8897dcbcaa31962fde149105a94.bindPopup(popup_28f06c576d97247822469b5010cc93b8)
        ;

        
    
    
            var marker_96295b94e00052cd02552a97101d954d = L.marker(
                [1.18525, 103.685333],
                {}
            ).addTo(marker_cluster_163f3de6786e5b5fd13a18c96e9614f8);
        
    
        var popup_36818e0479b01faadc230c615fe905ef = L.popup({"maxWidth": 200, "minWidth": 100});

        
            
                var html_3481fe4c0c3d8bde69f940fd3c1141ac = $(`<div id="html_3481fe4c0c3d8bde69f940fd3c1141ac" style="width: 100.0%; height: 100.0%;"><b>name</b>: ASPCA<br><b>sov_a3</b>: SGP<br><b>latitude</b>: 1.18525<br><b>longitude</b>: 103.685333<br><b>pop_max</b>: 1745000<br><b>region</b>: West<br></div>`)[0];
                popup_36818e0479b01faadc230c615fe905ef.setContent(html_3481fe4c0c3d8bde69f940fd3c1141ac);
            
        

        marker_96295b94e00052cd02552a97101d954d.bindPopup(popup_36818e0479b01faadc230c615fe905ef)
        ;

        
    
    
            var marker_41ec7dd51f1833b533569a0f5a577345 = L.marker(
                [1.17115, 103.684833],
                {}
            ).addTo(marker_cluster_163f3de6786e5b5fd13a18c96e9614f8);
        
    
        var popup_3538741f41f7f1d96bd5759d145c94b6 = L.popup({"maxWidth": 200, "minWidth": 100});

        
            
                var html_7ffa6933af538824872d1050ef37e532 = $(`<div id="html_7ffa6933af538824872d1050ef37e532" style="width: 100.0%; height: 100.0%;"><b>name</b>: ASDPA<br><b>sov_a3</b>: SGP<br><b>latitude</b>: 1.17115<br><b>longitude</b>: 103.684833<br><b>pop_max</b>: 1745000<br><b>region</b>: West<br></div>`)[0];
                popup_3538741f41f7f1d96bd5759d145c94b6.setContent(html_7ffa6933af538824872d1050ef37e532);
            
        

        marker_41ec7dd51f1833b533569a0f5a577345.bindPopup(popup_3538741f41f7f1d96bd5759d145c94b6)
        ;

        
    
    
            var marker_9f1a4b087f449df207797df7a0a3e25d = L.marker(
                [1.175667, 103.678833],
                {}
            ).addTo(marker_cluster_163f3de6786e5b5fd13a18c96e9614f8);
        
    
        var popup_b20e8f7ada9812a463baf8dff5dd2bce = L.popup({"maxWidth": 200, "minWidth": 100});

        
            
                var html_404c08f9001b329865f41caa8d40f585 = $(`<div id="html_404c08f9001b329865f41caa8d40f585" style="width: 100.0%; height: 100.0%;"><b>name</b>: ASLP<br><b>sov_a3</b>: SGP<br><b>latitude</b>: 1.175667<br><b>longitude</b>: 103.678833<br><b>pop_max</b>: 1745000<br><b>region</b>: West<br></div>`)[0];
                popup_b20e8f7ada9812a463baf8dff5dd2bce.setContent(html_404c08f9001b329865f41caa8d40f585);
            
        

        marker_9f1a4b087f449df207797df7a0a3e25d.bindPopup(popup_b20e8f7ada9812a463baf8dff5dd2bce)
        ;

        
    
    
            var marker_54b80a8c9e3162203626f57427bb1793 = L.marker(
                [1.221483, 103.641333],
                {}
            ).addTo(marker_cluster_163f3de6786e5b5fd13a18c96e9614f8);
        
    
        var popup_9c0e85bf141e6f716acb9f53fd1c9153 = L.popup({"maxWidth": 200, "minWidth": 100});

        
            
                var html_5c3c3db1b182591673d073353ed458a0 = $(`<div id="html_5c3c3db1b182591673d073353ed458a0" style="width: 100.0%; height: 100.0%;"><b>name</b>: AVLCC<br><b>sov_a3</b>: SGP<br><b>latitude</b>: 1.221483<br><b>longitude</b>: 103.641333<br><b>pop_max</b>: 1745000<br><b>region</b>: West<br></div>`)[0];
                popup_9c0e85bf141e6f716acb9f53fd1c9153.setContent(html_5c3c3db1b182591673d073353ed458a0);
            
        

        marker_54b80a8c9e3162203626f57427bb1793.bindPopup(popup_9c0e85bf141e6f716acb9f53fd1c9153)
        ;

        
    
    
            var layer_control_c55033c67e1cd517e6c22f457b7646ee = {
                base_layers : {
                    "openstreetmap" : tile_layer_2457aa697de04417d5f0c4c9f4f1df27,
                },
                overlays :  {
                    "SG Anchorages" : geo_json_a75b2044c75b725a594651b86ddfc754,
                    "Marker Cluster" : marker_cluster_163f3de6786e5b5fd13a18c96e9614f8,
                },
            };
            L.control.layers(
                layer_control_c55033c67e1cd517e6c22f457b7646ee.base_layers,
                layer_control_c55033c67e1cd517e6c22f457b7646ee.overlays,
                {"autoZIndex": true, "collapsed": true, "position": "topright"}
            ).addTo(map_beb5c330139d6ae434a16cba018df1de);
        
</script>
</html>